
    .sidebar{
      min-height: 90vh;
      padding: 10px;
      position: sticky;
      top: 0;
      left: 0;
   }
    .sidebar ul li{
      padding: 20px;
    }
    .sidebar ul li a{
      font-size: 20px;
    }
     .sidebar img{
      width: 150px;
      height: 80px;
      border-radius: 50%;
     }
